/* Leaflet styling */
/* skjul markering for valgt objekt */
.leaflet-interactive {
    fill-opacity: 0.1;
stroke-opacity: 0.8;
}

/* logo i printhoved */
#print-header-logo {
    background-image: url('https://raw.githubusercontent.com/Geosmeden/rmg/main/logo/ber4k_logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 68%;
}

/* baggrundsfarve alarmtabel */
.fixed-table-body {
    background-color: #bbb;
}

/* skjul kontroller i embed kortet */
.mapcontrols-history-backward {
    display: none;
}

.mapcontrols-history-forward {
   display: none;
}

#zoom-default-btn {
    display: none;
}

/* Link style*/
.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(1,37,68,.99)!important;
	text-decoration: underline;
    font-weight: 800;
    font-size: 14px;
}

/* QGIS server legend image*/
img {
    max-width: 75%;
}

a, a:focus, a:hover {
    color: #14324C;
}
